# important to keep .vscode/settings.json included, as the fuckass compile_commands.json won't be detected otherwise

# Meson build dir is already ignored by a gitignore inside it
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
# this one's a straggler from glad
/subprojects/egl-registry.wrap
# these absolute fuckers
/subprojects/libpng.wrap
/subprojects/zlib.wrap
# custom subprojects
!/subprojects/kwport
!/subprojects/klogger

# clangd vsc plugin cache
.cache/*