# Meson build dir is already ignored by a gitignore inside it
/subprojects/*
!/subprojects/*.wrap
# this one's a straggler from glad
/subprojects/egl-registry.wrap
# custom subprojects
!/subprojects/kwport
!/subprojects/klogger

.vscode/*

# clangd vsc plugin cache
.cache/*